.console{
	left: 0;
	position: absolute;
	top: 250px;
}
*{
	box-sizing: border-box;
}
button{
	cursor: pointer;
	user-select: none;
}

.wrap{
	padding-left: 10%;
	padding-right: 10%;
}

.header{
	border-bottom: 1px solid #CCC;
	height: 40px;
}

.logo{
	display: block;
	float: left;
	font-size: 24px;
	line-height: 40px;
}

.header nav{
	float: left;
	margin-left: 30px;
}

nav li{
	float: left;
	height: 40px;
	line-height: 40px;
	list-style: none
}

nav li a{
	color: mediumseagreen;
	display: block;
	font-weight: bold;
	height: 100%;
	padding: 0 1em;
}

.header span{
	color: black;
	cursor: pointer;
	display: block;
	float: right;
	line-height: 40px;
}

.auth{
	margin-left: calc(50% - 200px);
	margin-top: 150px;
	width: 400px
}


.main-wrap{
	height: calc(100vh - 40px);
}


/* ===== GAME ===== */
.game{
	align-items: center;
	background: darkslateblue;
	display: flex;
	height: 100%;
	justify-content: center;
	position: relative;
}

.board{
	position: absolute;
}


/* ===== PLAYER ===== */
.player{
	display: flex;
	justify-content: center;
	position: absolute;
	top: 30px;
	width: 70%;
}

.player.me{
	bottom: 30px;
	top: inherit;
}

.player-info{
	background: rgba(0,0,0,1);
	border: 3px solid #999;
	color: white;
	display: flex;
	height: 50px;
	position: absolute;
	top: -20px;
	width: 400px;
	z-index: 2;
}
.me .player-info{
	bottom: -20px;
	top: initial;
}

.player-info span{
	align-items: center;
	display: flex;
	justify-content: center;
}

.player-score{
	background: white;
	color: black;
	font-size: 32px;
	text-align: center;
	width: 60px;
}

.player-username{
	font-size: 16px;
	width: calc(100% - 160px);
}

.player-play{
	background: crimson;
	border: none;
	color: white;
	cursor: initial;
	width: 100px;
}
.player-play[disabled]{
	cursor: initial;
	opacity: 0.5;
}
.player-play-playing{
	opacity: 0.5;
}
.me .player-play{
	background: mediumseagreen;
	cursor: pointer;
	transition: 0.25s background ease;
}
.me .player-play:hover{
	background: forestgreen;
}
.me .player-play[disabled]:hover{
	background: mediumseagreen;
}


/* ===== CARD ===== */
.card{
	background-image:url(../images/back.png);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;
	box-shadow: -1px -1px 8px #333;
	float: left;
	height: 117px;
	margin-left: -15px;
	width: 81px;
}
.me .card{
	cursor: pointer;
}
.board .card{
	margin-left: 0;
}
.card.selected{
	margin-top: -10px;
}



.C1{background-image:url(../images/2C.png);}
.C2{background-image:url(../images/3C.png);}
.C3{background-image:url(../images/4C.png);}
.C4{background-image:url(../images/5C.png);}
.C5{background-image:url(../images/6C.png);}
.C6{background-image:url(../images/7C.png);}
.C7{background-image:url(../images/8C.png);}
.C8{background-image:url(../images/9C.png);}
.C9{background-image:url(../images/TC.png);}
.C10{background-image:url(../images/JC.png);}
.C11{background-image:url(../images/QC.png);}
.C12{background-image:url(../images/KC.png);}
.C13{background-image:url(../images/AC.png);}
.C14{background-image:url(../images/2D.png);}
.C15{background-image:url(../images/3D.png);}
.C16{background-image:url(../images/4D.png);}
.C17{background-image:url(../images/5D.png);}
.C18{background-image:url(../images/6D.png);}
.C19{background-image:url(../images/7D.png);}
.C20{background-image:url(../images/8D.png);}
.C21{background-image:url(../images/9D.png);}
.C22{background-image:url(../images/TD.png);}
.C23{background-image:url(../images/JD.png);}
.C24{background-image:url(../images/QD.png);}
.C25{background-image:url(../images/KD.png);}
.C26{background-image:url(../images/AD.png);}
.C27{background-image:url(../images/2S.png);}
.C28{background-image:url(../images/3S.png);}
.C29{background-image:url(../images/4S.png);}
.C30{background-image:url(../images/5S.png);}
.C31{background-image:url(../images/6S.png);}
.C32{background-image:url(../images/7S.png);}
.C33{background-image:url(../images/8S.png);}
.C34{background-image:url(../images/9S.png);}
.C35{background-image:url(../images/TS.png);}
.C36{background-image:url(../images/JS.png);}
.C37{background-image:url(../images/QS.png);}
.C38{background-image:url(../images/KS.png);}
.C39{background-image:url(../images/AS.png);}
.C40{background-image:url(../images/2H.png);}
.C41{background-image:url(../images/3H.png);}
.C42{background-image:url(../images/4H.png);}
.C43{background-image:url(../images/5H.png);}
.C44{background-image:url(../images/6H.png);}
.C45{background-image:url(../images/7H.png);}
.C46{background-image:url(../images/8H.png);}
.C47{background-image:url(../images/9H.png);}
.C48{background-image:url(../images/TH.png);}
.C49{background-image:url(../images/JH.png);}
.C50{background-image:url(../images/QH.png);}
.C51{background-image:url(../images/KH.png);}
.C52{background-image:url(../images/AH.png);}

